/* main color  */
:root {
  --blue: rgb(0, 181, 181); 

  --white: rgb(255, 255, 255); 

  --black: rgb(24, 37, 39); 
  --green: rgb(0, 91, 91); 
}

/* main elements */




body {
  margin: 0px;
  text-align: center;
  
}

#lightMode{
  background-color: var(--white);
  color: var(--black);
}



#darkMode{
  background-color: var(--black);
  color: var(--white);

  
}


h1 {
  margin: 0px;
  font-size: 72px;
  text-transform: uppercase;
  font-family: "Gloria Hallelujah";
  text-shadow: 0px 5px 0px var(--blue);
}
h2 {
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive;
  color: var(--blue);
}

h3,
form {
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive;
  color: var(--white);
  font-size: 50px;
}
h4 {
  text-align: left;
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive;
  color: var(--blue);
  font-size: 26px;
}

#underLine {
  text-decoration: underline;
}
ul {
  z-index: 1;
  text-align: left;
  font-size: 18px;
  font-family: "Patrick Hand", cursive;
}

hr {
  margin-bottom: 10px;
  margin-top: 20px;
  border-style: none;
  border-top-style: dotted;
  border-color: var(--white);
  border-width: 5px;
  width: 5%;
}

button {
  margin: 20px 0px 20px 0px;
  font-size: 26px;
  height: 50px;
  width: 200px;
  background-color: var(--blue);
  border: 2px solid black;
  font-family: "Patrick Hand", cursive;
}
button:hover {
  background-color: white;
}

/* top page */

/* 
#rocket {
  width: 500px;
  position: relative;
  z-index: 1;
  content: url(./img/rocket.gif);
}
#sparkles1 {
  width: 300px;
  z-index: 0;
  position: absolute;
  right: 50px;
  content: url(./img/sparkles.gif);
}

#sparkles2 {
  width: 300px;
  z-index: 0;
  position: absolute;
  left: 50px;
  content: url(./img/sparkles.gif);
} */

/* middle page */
.middle,
form {
  background-color: var(--blue);
  position: relative;
  padding: 100px 0px 0px 0px;
}

#avatar {
  border-radius: 200px;
  background-color: var(--white);
  border: 3px solid white;
  content: url(./img/avatar.png);

  width: 200px;
  box-shadow: 0px 3px 0px rgb(0, 91, 91);
}
#details {
  margin: auto;
  block-size: auto;
  border: 0px;
  width: 400px;
  font-size: 26px;
  color: white;
  font-family: "Patrick Hand", cursive;
}
.border {
  padding: 10px;
  margin: 50px 200px 50px 200px;
  border-radius: 50px;
  block-size: auto;
  border: 20px var(--white);
  background-color: var(--white);
  box-shadow: 0px 3px 0px var(--green);
}

#borderDark {
  color: var(--white);
  padding: 10px;
  margin: 50px 200px 50px 200px;
  border-radius: 50px;
  block-size: auto;
  border: 20px var(--black);
  background-color: var(--black);
  box-shadow: 0px 3px 0px var(--green);
}

#pencil {
  position: absolute;
  right: 250px;
  width: 200px;
  border-radius: 80px;
  content: url(./img/pencil.gif);
  top: 1400px;
  z-index: 0;
}
#head {
  position: absolute;
  right: 250px;
  width: 150px;
  border-radius: 80px;
  content: url(./img/head.gif);
  top: 900px;
}

#loading {
  position: absolute;
  right: 250px;
  width: 150px;
  border-radius: 80px;
  content: url(./img/loading.gif);
  top: 1150px;
}
#pencil,
#head,
#loading {
}

/* lower page */
.lower {
  padding: 50px 0px 0px 0px;


}
#linkedin {
  position: relative;
  width: 50px;
  content: url(./img/icons/linkedin.png);
}
#github {
  position: relative;
  width: 50px;
  content: url(./img/icons/github.png);
}

/* form page */
form {
  border: 2px var(--black);
  font-size: 18px;
  margin: 100px 200px 0px 200px;
  padding: 10px 0px 10px 0px;
}
#back {
  margin: 100px 0px 0px 0px;
}
